<style>
    .imagen-hero {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }

    .contenedor-imagen-hero {
        width: 100%;
        height: 600px;
        padding: 0;
        margin: 0;
        position: relative;
        overflow: hidden;
    }

        .contenedor-imagen-hero::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            z-index: 5;
            background-image: linear-gradient(90deg,rgba(237, 47, 54, .3) 0%, rgba(166, 23, 94, .4) 72%, rgba(255, 161, 20, .8) 100%), url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
            
        }

        .contenedor-imagen-hero:hover::after {
            opacity: 1;
        }

    h2 {
        position: absolute;
        color: white;
        z-index: 10;
        font-size: 5em;
        font-family:Impact;
        top:10px;
        left:10px;
        text-align:center ;
        

    }

    @@keyframes mover-gradiente {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
</style>
<div class="contenedor-hero">
    <div class="contenedor-imagen-hero">
        <img class="imagen-hero" src="https://image.api.playstation.com/vulcan/img/rnd/202011/1215/WyHa1BM3ISDVqYSEUMB9VZJs.png" alt="Alternate Text" />
        <h2>GRAN <br />CATALOGO DE JUEGOS</h2>
        <div class="capa"></div>
    </div>
    <div class="contenedor-imagen-hero">
        <img class="imagen-hero" src="https://elcomercio.pe/resizer/pnChFtvGfUnAfz88S_W9xnLZMFg=/1200x680/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/5FPY5U2NBFBQ7LPECYV7FF36MU.jpg" alt="Alternate Text" />
        <h2>LAS <br />MEJORES SERIES</h2>
        <div class="capa"></div>

    </div>
    <div class="contenedor-imagen-hero">
        <img class="imagen-hero" src="https://i.redd.it/i-just-saw-flow-recently-v0-mmd4bx0mfcje1.jpg?width=1200&format=pjpg&auto=webp&s=180500bb33b682dd14dce28bb57a75443595b408" alt="Alternate Text" />
        <h2>LAS <br /> PELICULAS DEL MOMENTO</h2>
        <div class="capa"></div>

    </div>
</div>
